<!--
 * @Author: aiun
 * @Date: 2021-04-09 22:53:28
 * @LastEditors: aiun
 * @LastEditTime: 2021-04-21 20:29:36
 * @Description: file content
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- <%= require('html-loader!./layout/head-common.html') %> -->
</head>
<body>
    hello
    
    <img src="../image/backend-map.png">
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="../../dist/js/index.js"></script>
</body>
</html>